:root {
    --main-font: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-color: black;
    --accent-font-color: blue;
    --background-color: #F3EEE8;
    --foreground-color: white;
    --margin: 0.25rem;
    --main-accent-color: #F37F3D;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
  box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    /* display: grid;
    grid-template-rows: auto 1fr; */
    background-color: var(--background-color);
    width: 410px;
    min-height: 506px;
    max-height: 506px;
    transition: height 0.5s ease-in-out;
}

h1 {
    margin: 0;
}

main {
    border-radius: 0.625rem;
    grid-template-rows: auto auto 1fr;
    margin: 0 auto;
    background-color: transparent;
    width: 366px;
}

header {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--foreground-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25rem);
}

header h1 {
    display: inline;
}

header h1:last-child {
    color: var(--accent-font-color);
}

nav {
  background-color: white;
  display: flex;
  width: 22.875rem;
  min-height: 3.6875rem;
  max-height: 3.6875rem;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 2.19rem;
  border-radius: 0.3125rem;
}

/* nav {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-radius: 0.625rem;
    border-radius: 50px;
    background-color: var(--foreground-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: larger; */

nav>a {
  font-size: 1.25rem;
  font-weight: 300;
}

nav>a:hover {
    background-color: var(--main-accent-color);
    color: white;
    transform: scale(1.2);
}

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 500px;
}

#spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#scroll_container {
    display: grid;
    width: 1230px;
    margin-left: -410px;
    margin-right: -410px;
    grid-template-columns: 410px 410px 410px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(calc(820px - (410px * var(--page))));
}

.white-wrapper {
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  height: 25rem;
  align-items: center;
  position: relative;
  overflow: auto;
  padding: 0.5rem 0;
}

.focusing {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}

.focusing p {
  margin: 0;
}

#current_profile {
  color: #52A56C;
}

.profile {
  padding: 1rem;
  border-radius: 0.3125rem;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 20rem;
}

.profile.selected {
  color: #52A56C;
}

.profile_name {
  font-size: 1.25rem;
}

.profile_persona {
  color: #868686;
  font-size: 0.875rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.profile.selected .profile_persona {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6; 
  -webkit-box-orient: vertical;
}

#profile_list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem
}