:root {
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-color: black;
    --accent-font-color: blue;
    --background-color: #F3EEE8;
    --foreground-color: white;
    --margin: 0.25rem;
    --main-accent-color: #F37F3D;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--main-font);
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--background-color);
    width: 300px;
    max-height: 400px;
    transition: height 0.5s ease-in-out;
}

h1 {
    margin: 0;
}

main {
    border-radius: 0.625rem;
    grid-template-rows: auto auto 1fr;
    margin: 0.5rem;
    background-color: transparent;
}

header {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--foreground-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25rem);
}

header h1 {
    display: inline;
}

header h1:last-child {
    color: var(--accent-font-color);
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-radius: 0.625rem;
    border-radius: 50px;
    background-color: var(--foreground-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: larger;
}

nav>a {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
}

nav>a:hover {
    background-color: var(--main-accent-color);
    color: white;
    transform: scale(1.2);
}

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 500px;
}

#spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#scroll_container {
    display: grid;
    width: 900px;
    margin-left: -300px;
    margin-right: -300px;
    grid-template-columns: 300px 300px 300px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(calc(600px - (300px * var(--page))));
}